# Image / container
POSTGRES_CONTAINER_NAME=yourDBContainerName

# Database credentials
DATABASE_DSN=postgres://yourusername:yourpassword@yourdomain:yourDBPort/yourDBName?sslmode=disable
# Database credentials
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourDBName

# Networking
POSTGRES_PORT=yourDBPort

# Data directory inside container
POSTGRES_DATA_DIR=yourDBVolumepath

SAMPLE=postgres://jack:secret@pg.example.com:5432/mydb?sslmode=verify-ca&pool_max_conns=10&pool_max_conn_lifetime=1h30m


SECRET_KEY=yourSecretKey
SECRET_REFRESH_KEY=yourpublickey
ALLOWED_ORIGINS=yourFrontendURL

# Upload
UPLOAD_PATH=YourUploadPath